html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: white;
}

.visually-hidden {
    display: none;
}

.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: white;
}
/*Шапка сайта*/

.header {
    background-color: #eeeeee;
}

.header-logo:hover {
    opacity: 0.8;
}

.header-logo:active {
    opacity: 0.3;
}

.navigation a {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover {
    color: #fb565a;
}

.navigation a:active {
    color: #a6a6a6;
}

.navigation ul {
    list-style: none;
}

.current-page {
    border-bottom: 2px solid #fb565a;
}

/*Слайдер*/

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
}

.slider p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.slide-btn {
    font-size: 16px;
    line-height: 18px;
    background-color: #fb565a;
}

.slide-btn:hover {
    background-color: #e74246;
}

.slide-btn:active {
    background-color: #d7373b;
    color:rgba(255, 255, 255, 0.3);
}

/*Список с картинками и кнопками*/

.product-list {
    list-style: none;
}

.product-list-item h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-list-item p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.product-list-item .button,
.slider .button {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.product-list-item .button-1 {
    background-color: #fb565a;
}

.product-list-item .button-1:hover {
    background-color: #e74246;
}

.product-list-item .button-1:active {
    background-color: #d7373b;
    color:rgba(255, 255, 255, 0.3);
}

.product-list-item .button-2 {
    background-color: #00ca74;
}

.product-list-item .button-2:hover {
    background-color: #00bc6c;
}

.product-list-item .button-2:active {
    background-color: #00aa62;
    color:rgba(255, 255, 255, 0.3);
}

.product-list-item .button-3 {
    background-color: #efc84a;
}

.product-list-item .button-3:hover {
    background-color: #eab534;
}

.product-list-item .button-3:active {
    background-color: #e5a722;
    color:rgba(255, 255, 255, 0.3);
}
/*Секция Мы маленькая, но гордая...*/

.advantages h2 {
    font-size: 45px;
    line-height: 45px;
}

.accuracy h3,
.advanteges h3,
.advantages p {
    font-size: 16px;
    line-height: 24px;
}

.advantages p,
.percent-list span {
    color: #283136;
}

.percent-list {
    list-style: none;
}

.percent-list b {
    font-size: 45px;
    line-height: 10px;
    
}

.percent-list span {
    font-size: 16px;
    line-height: 18px;
}

/*Секция Партнеры*/

.partner-list {
    list-style: none;
}

.partner {
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

.partner:hover {
    opacity: 1;
}

.partner:active {
    opacity: 0.1;
}



/*Футер*/

.social-list {
    list-style: none;
}

.social-list a {
    background-color: #e1e1e1;
}

.social-list a:hover {
    background-color: #e74246;
}

.social-list a:active {
    background-color: #d7373b;
}
.social-list a:active img {
    opacity: 0.3;
}
.contacts {
    color: #666666
}

.contacts h2 {
    font-size: 18px;
    line-height: 30px;
    color: black;
}

.foot-btn {
    background-color: #fb565a;
}

footer p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

/*Стилизация каталога*/

.catalog-title {
    font-size: 55px;
    line-height: 55px;
    background-color: #eeeeee;
}

legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: black;
}

label {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.filter-btn {
    background-color: #eeeeee;
    color: black;
}

.filter-btn:hover {
    background-color: #dfdfdf;
}

.filter-btn:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}